.banner {
    background-color: #f8f9fa;
}

.banner .banner__title {
    font-size: 3rem;
}

.banner .banner__desc {
    font-size: 1.5rem;
}

.banner .banner__btn {
    font-size: 20px;
    padding: 8px 16px;
}