.navbar-nav .nav-item.active .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-item .nav-link {
    color: #9b9d9e;
    transition: .3s linear;
    cursor: pointer;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}