.item {
    background-color: #f8f9fa;
    padding: 50px 1.5rem 1.5rem !important;
}

.item .item__icon {
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
}

.item .item__icon i {
    font-size: 32px;
    line-height: 50px;
}

.item__info .item__title {
    font-size: 24px;
}

.item__info .item__desc {
    font-size: 16px;
}